@theme {
    --color-text: #070450;
    --color-background: #fffaf0;
    --color-primary: #364072;
    --color-primary-5: #3640720d;
    --color-secondary: #b5c8d6;
    --color-secondary-30: rgba(181, 200, 214, 0.3);
    --color-accent: #f49898;
    --color-text-dark: #dbdac6;
    --color-background-dark: #000f0f;
    --color-primary-dark: #617f61;
    --color-primary-dark-5: #617f610f;
    --color-secondary-dark: #141f14;
    --color-accent-dark: #c09b91;
}
